{:name "Fileworthy"
 :version "2.0-alpha"
 :allow-anonymous-read true
 :app-mode :dev
 :bin-files-glob "*.{doc,docx,odt,pdf,ppt,pptx}"
 :log-level :debug
 :nrepl-port 8024
 :root-dir ""
 :site-name "Fileworthy"
 :web-server-port 8023}
