{:name "Fileworthy"
 :version "2.0-alpha"
 :description "A simple website to manage your notes and files across all your devices."
 :allow-anonymous-read true
 :bin-files-glob "*.{doc,docx,odt,pdf,ppt,pptx}"
 :log-level #profile {:default :info
                      :development :debug
                      :production :info}
 :nrepl-port 9023
 :root-dir ""
 :site-name "Fileworthy"
 :web-server-port 8023}
