/* ========== Common [START] ========== */

/* Color Theme
 *
 * Heavenly Hues (image via @arctic_stories)
 * https://www.design-seeds.com/in-nature/heavens/heavenly-hues-8/
 *
 * VAR CREAM = #F7EDE9
 * VAR PINK = #FBDBD8
 * VAR PURPLE-LIGHT = #C8BAD2
 * VAR PURPLE = #7479A0
 * VAR PURPLE-DARK = #333853
 * VAR BROWN = #4D464B
 *
 * VAR GREY-LIGHT = #EFEFEF;
 */

*
{
  box-sizing: border-box; /* Have element's width include border and padding: */
  font-family: "Fira Sans", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
}

body
{
  color: #4D464B; /* VAR BROWN */
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  main
  {
    font-size: 0.6em;
  }
}

a
{
  color: #4D464B; /* VAR BROWN */
  text-decoration: none;
}

h2, h3, h4, h5, h6
{
  margin-top: 0;
  margin-bottom: 0.5rem;
}

ul, ol
{
  margin: 0;
  padding: 0;
  list-style: none;
}

.clear-fix
{
  clear: both;
  display: block;
}

.comma:last-child
{
  display: none;
}

.success
{
  color: green;
}
.warning
{
  color: maroon;
}
.error, .fatal
{
  color: red;
}

.full-width
{
  width: 100%;
}

.col
{
  float: left;
  padding: 5px; /* This is the gutter between columns */
}
.col-1 { width: 100%; }
.col-2 { width: 50%; }
.col-3 { width: 33.333%; }
.col-4 { width: 25%; }
.col-5 { width: 20%; }
.col-10 { width: 10%; }

.uppercase
{
  text-transform: uppercase;
}

/* ========== Common [END] ========== */

/* ========== Template [START] ========== */

main
{
  margin: 1rem;
}

#top-bar
{
  background-color: #333853; /* VAR PURPLE-DARK */
  color: white;
  padding: 0.2rem 1rem;
}
#app-name
{
  float: left;
}
#project-name
{
  float: right;
}

#version
{
  opacity: 0.5;
  font-size: 0.8rem;
}

.path-names
{
  background-color: #EFEFEF; /* VAR GREY-LIGHT */
  /*border-bottom: solid 1px #C8BAD2; /* VAR PURPLE-LIGHT */
  padding: 0.1rem 1rem;
  margin-bottom: 0.1rem;
}
.path-names li
{
  display: inline-block;
}
.path-names li a
{
  display: inline-block;
  padding: 0.3rem 0.5rem;
}
.path-names li a:hover
{
  background-color: #C8BAD2; /* VAR PURPLE-LIGHT */
  color: #333853; /* VAR PURPLE-DARK */
}
.path-names li a:active
{
  font-weight: bold;
}

#root-folder, #root-file
{
  color: #C8BAD2; /* VAR PURPLE-LIGHT */
}
#root-folder:hover, #root-file:hover
{
  color: #333853; /* VAR PURPLE-DARK */
}

/* ========== Template [END] ========== */
