/* ========== Common [START] ========== */

/* Color Theme
 *
 * Heavenly Hues (image via @arctic_stories)
 * https://www.design-seeds.com/in-nature/heavens/heavenly-hues-8/
 *
 * VAR CREAM = #F7EDE9
 * VAR PINK = #FBDBD8
 * VAR PURPLE-LIGHT = #C8BAD2
 * VAR PURPLE-LIGHT2 = #E3D9EA
 * VAR PURPLE = #7479A0
 * VAR PURPLE-DARK = #333853
 * VAR BROWN = #4D464B
 *
 * VAR GREY-LIGHT = #EFEFEF;
 */

*
{
  box-sizing: border-box; /* Have element's width include border and padding: */
  font-family: "Fira Sans", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
}

body
{
  color: #4D464B; /* VAR BROWN */
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  main
  {
    font-size: 0.6em;
  }
}

a
{
  color: #333853; /* VAR PURPLE-DARK */
  padding: 0.1rem;
}
a:hover
{
  background-color: #C8BAD2; /* VAR PURPLE-LIGHT */
  color: #333853; /* VAR PURPLE-DARK */
}
a:active
{
  background-color: #333853; /* VAR PURPLE-DARK */
  color: white;
}

h2, h3, h4, h5, h6
{
  margin-top: 0;
  margin-bottom: 0.5rem;
}

ul, ol
{
  margin: 0;
  padding: 0;
  list-style: none;
}

.hidden
{
  display: none;
}

.selected
{
  background-color: #E3D9EA; /* VAR PURPLE-LIGHT2 */
  font-weight: bold;
}

.clear-fix
{
  clear: both;
  display: block;
}

.comma:last-child
{
  display: none;
}

.success
{
  color: green;
}
.warning
{
  color: maroon;
}
.error, .fatal
{
  color: red;
}

.full-width
{
  width: 100%;
}

.col
{
  float: left;
  padding: 5px; /* This is the gutter between columns */
}
.col-1 { width: 100%; }
.col-2 { width: 50%; }
.col-3 { width: 33.333%; }
.col-4 { width: 25%; }
.col-5 { width: 20%; }
.col-10 { width: 10%; }

.uppercase
{
  text-transform: uppercase;
}

.simple-table td
{
  padding: 0 0.5rem 0.5rem 0;
}
.simple-table td:first-child
{
  font-weight: bold;
}

/* ========== Common [END] ========== */

/* ========== Template [START] ========== */

main
{
  margin: 1rem;
}

nav a
{
  text-decoration: none;
}

#top-bar
{
  background-color: #333853; /* VAR PURPLE-DARK */
  color: white;
  padding: 0.3rem 1rem;
}
#top-bar *
{
  color: white;
}
#top-bar a
{
  display: inline-block;
  padding: 0;
  text-decoration: none;
}
#top-bar a:hover
{
  background-color: inherit;
}
#project-name
{
  float: right;
}

#menu-bar
{
  margin-right: 0.5rem;
}
#main-menu
{
  border: solid 0.2rem #EFEFEF; /* VAR GREY-LIGHT */
  margin: 0.5rem 1rem;
}
#main-menu li:nth-child(odd)
{
  background-color: #EFEFEF; /* VAR GREY-LIGHT */
}
#main-menu a
{
  display: block;
  text-decoration: none;
}

#version
{
  opacity: 0.5;
  font-size: 0.8rem;
}

#root-folder-names, .sub-folder-names
{
  text-align: center;
}
#root-folder-names
{
  background-color: #EFEFEF; /* VAR GREY-LIGHT */
  font-size: 1.5rem;
}
.sub-folder-names
{
  border-bottom: solid 1px #EFEFEF;
}
#root-folder-names li, .sub-folder-names li
{
  display: inline-block;
}
#root-folder-names li a, .sub-folder-names li a
{
  display: inline-block;
  padding: 0.5em;
}

/* ========== Template [END] ========== */

/* ========== File Contents Page [START] ========== */

.file-names
{
  background-color: #EFEFEF; /* VAR GREY-LIGHT */
  border-collapse: collapse;
  float: right;
  overflow-x: auto;
}
.file-names a
{
  display: block;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
}
.file-names .download
{
  visibility: collapse;
}
.file-names tr:hover .download
{
  visibility: visible;
}

#raw-file-content
{
  white-space: pre-wrap;
}

/* ========== File Contents Page [END] ========== */
